<div class="col-12 grid bg-light">
    <nav class="col-4_sm-12-middle text-right sm-text-center hide-sm">
        <a href="/rooms.html"> Rooms </a> 
        <a href="/surf.html"> Surf </a>
        <a href="/yoga.html"> Yoga </a>
    </nav>

    <div class="col-4_sm-11-middle text-center"> 
        <a href="/index.html" class="padded-2"> 
            <h3 class="margin-b-0"> The Beach House </h2>
        </a>
    </div>
    
    <nav class="col-4_sm-12-middle text-left sm-text-center hide-sm">
        <a href="/restaurant.html"> Restaurant </a> 
        <a href="/shop.html"> Shop </a>
        <a href="/blog.html"> Stay Connected </a>

        <div class="dropdown">
            <span class="dropdown-title"> Categories </span>
            <div class="dropdown-content">
                {% for cat in site.archives %}
                <a href="{{cat.url}}"> {{cat.category}} </a>
                {% endfor %}
            </div>
        </div>

    </nav>
 </div>

 <div class="col-1 show-sm">
  <div class="hamburger-button">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>

<nav class="mobile-menu bg-featured padded">
<a href="/index.html"> Home </a> 
<a href="/rooms.html"> Rooms </a>
<a href="/surf.html"> Surf Retreats </a>
<a href="/yoga.html"> Yoga Retreats </a>
<a href="/restaurant.html"> Restaurant </a>
<a href="/shop.html"> Shop</a>
<a href="/blog.html"> Stay Connected </a>
</nav>