<!---------------- Footer --------------->
<footer class="padded grid-spaceBetween bg-dark"> 
    <div class="col-4-bottom"> 
            <h2> let's <br /> <span class="featured-text">connect</span> </h2> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima, quibusdam exercitationem reprehenderit magnam libero a eius rerum aliquam est sint. Facilis voluptate commodi illo. Ipsam, modi expedita? Ducimus, praesentium. </p> 

        </div> 
        <div class="col-5-bottom">
            <p> <strong>Call:</strong> <a href="tel:#"> 04555 5555</a>  </p> 
            <p> <strong>Email:</strong> <a href="mailto:#">hello@thesleep.co </a> </p> 
            <p> <strong>Store:</strong> 55 Main St, Chicago </p> 
            <p> <strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco">@thesleepco</a> </p>     
    </div> 


<!---Check with the one above what you want -->

    <div class="col-12_sm-12 padded center-sm">
        <h2 class="logo"> The Design Collective </h2>
        <h3> Web Design & Development </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita eos cumque laboriosam nisi molestiae quae libero similique. </p>
</div> 
<div class="col-12_sm-12-bottom padded right center-sm">
        <h3> Let's Connect. </h3>
        <nav> 
            <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
            <a href="#"> <i class="fab fa-instagram"></i> </a>
            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
            <a href="#"> <i class="fab fa-twitter"></i> </a>
        </nav>
</div>
<div class="col-12 center padded-t">
        <p class="subtle"> Copyright 2021</p>
</div>
</footer>