<!---------------- Footer --------------->
<footer class="padded grid padding-b-1p"> 
    <div class="col-6 text-right"> 
        <h2 class="padded-r"> get in touch <span class="featured-text"> today </span> </h2> 
    </div> 
    <div class="col-6 text-left padded-l">
        <p class="margin-b-0"> <strong>Call:</strong> <a href="tel:#"> 1234 5678 9123 </a>  </p> 
        <p> <strong>Email:</strong> <a href="mailto:#">hello@beachhouse.com </a> </p>      
    </div> 


    <div class="col-6_sm-12 text-right center-sm padded-r">
        <h4> and make sure to follow us. </h4>
    </div>
    <div class="col-6_sm-12 text-left center-sm padded-l">
        <nav> 
            <a href="#"> <i class="fab fa-instagram"></i> </a>
            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
            <a href="#"> <i class="fab fa-twitter"></i> </a>
            <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
        </nav>
    </div>

    <div class="col-12 text-center">
        <p class="subtle"> Designed and Built by Juli | Copyright 2023 </p>
    </div>
</footer>